body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #343755;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.card {
    gap: 10px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1d1f34;
    width: 600px;
    height: 650px;
}

.icon{
    width: 200px;
    height: 280px;
}

.name {
    font-size: 50px;
}

.price {
    font-size: 25px;
}

header img{
   border-radius: 10px;
    display: flex;
   flex-direction: row;
   float: left;
   margin: 10px;
}
.top{
   display: flex;
   flex-direction: column;
   color: white;
}

.top h1{
   margin-right: 10px;
}

.top h2{
    font-size: 20px;

}